@tailwind base;
@tailwind components;
@tailwind utilities;

.blur-container {
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: hsla(0, 0%, 100%, .3);
    border: 1px solid hsla(0, 0%, 100%, .3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, .1); 
}
